__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.vscode/
.idea/

/addons/
/odoo/
/debian/
/doc/
/setup/
odoo-bin
*.log
*.conf
/odoo/filestore/

.DS_Store
Thumbs.db

# --- EXCEPCIONES ---
!/extra_addons/
!/UniversityApi/